*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

main {
    
}
header {
    text-align: center;
}

img {
    width: 300px;
    height: 250px;
    margin-top: 10px;
}

h1 {
    margin: 10px 0 35px 0;
    
}

.container {
    padding: 0 130px;
}

.container>.paragraphe {
    font-size: 11px;   
    line-height: 1.6;
}

.start {
    padding-top: 20px;
}

.start>a {
    color: chartreuse; 
}
.start>a:hover {
    color: rgb(171, 253, 88); 
}

.question1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

.submit{
    padding: 4px 2px;
}
footer { 
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

